{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type='text/css' href="{% static 'css/style.css' %}">
</head>
<body>
{% block content %}
{% endblock content %}
</body>
</html>