{% extends 'root.html' %}
{% block content %}
<div class="title-header">
    <h1>Account statements</h1>
    <button onclick="location.href = '{% url 'new_statement' %}'"  class="add-new-statement">Generate new statement</button>
    <br/>
</div>

<table>
<tr>
    <th>Account number</th>
    <th>Date</th>
    <th>Closing balance</th>
    <th>Total credit</th>
    <th>Total debit</th>
</tr>
{% for statement in statements %}
<tr>
    <td>{{ statement.account_no }}</td>
    <td>{{ statement.date }}</td>
    <td>{{ statement.closing_balance|floatformat:2 }}</td>
    <td>{{ statement.total_credit }}</td>
    <td>{{ statement.total_debit }}</td>
</tr>
{% endfor %}
</table>
{% endblock content %}

