{% extends 'root.html' %}
{% block content %}
<div class="title-header">
    <h1>Transaction history</h1>
    <button onclick="location.href = '{% url 'new_transaction' %}'"  class="add-new-transaction">New transaction</button>
    <br/>
</div>

<table>
<tr>
    <th>Account number</th>
    <th>Transaction type</th>
    <th>Date</th>
    <th>Ammount</th>
</tr>
{% for transaction in transactions %}
<tr>
    <td>{{ transaction.account_no }}</td>
    <td>{{ transaction.transaction_type }}</td>
    <td>{{ transaction.date }}</td>
    <td>{{ transaction.ammount|floatformat:2 }}</td>
</tr>
{% endfor %}
</table>
{% endblock content %}

