table {
    border: 1px solid;
    width:100%;
}

th, td {
    border: 1px solid;
  }


.title-header {
    text-align: center;
}

.add-new-transaction {
    margin-bottom: 10px;
    color: white;
    background-color: green;
}

.add-new-statement {
    margin-bottom: 10px;
    color: white;
    background-color: green;
}